<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>修改文章</title>
    <link rel="stylesheet" type="text/css" href="/Global.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">演示</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/reception/index"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/reception/message"><span class="glyphicon glyphicon-comment"></span> 讨论</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <form action="/reception/logout" method="post">
                    <input type="submit" class="btn btn-link" style="padding-top: 14px" value="注销"/>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form action="/reception/personal" method="post">
                    <input type="submit" class="btn btn-link" style="padding-top: 14px" value="个人信息"/>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 10px">
    <form action="">
        <input type="hidden" id="articleId" th:value="${id}">
        <div class="form-group">
            <label for="title">标题</label>
            <a id="deleteArticle" style="float: right">删除</a>
            <input type="text" class="form-control" id="title" placeholder="请输入标题">
        </div>
        <div class="form-group">
            <label>类别</label>
            <select class="selectpicker" data-size="4" id="option" title="请选择一项"></select>
        </div>
        <div class="form-group">
            <label for="introduction">简介</label>
            <input type="text" class="form-control" id="introduction" placeholder="请输入简介">
        </div>
        <label for="mainText">正文</label>
        <div id="toolbar" class="toolbar">
        </div>
        <div style="padding: 5px 0; color: #ccc"></div>
        <div id="mainText" class="mainText">
            <!--可使用 min-height 实现编辑区域自动增加高度-->
        </div>
        <button type="button" id="submit" class="btn btn-default btn-sm" style="margin-top:10px">提交</button>
    </form>
</div>

<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-select/1.12.4/js/i18n/defaults-zh_CN.min.js"></script>

<script type="text/javascript" src="/wangEditor.min.js"></script>

<script type="text/javascript">
    var E = window.wangEditor
    var editor1 = new E('#toolbar', '#mainText')  // 两个参数也可以传入 elem 对象，class 选择器
    editor1.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
    editor1.create()
</script>
</body>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
<script>
    $.ajax({
        url: '/reception/findArticle',
        type: 'GET',
        data: {id: $("#articleId").val()},
        success: function (result) {
            $("#title").val(result.title);
            $("#option").val(result.category);
            $("#introduction").val(result.introduction);
            editor1.txt.html(result.mainText);
        }

    })

    $.ajax({
        url: '/dictionary/findall',
        type: 'POST',
        success: function (result) {
            for (var i = 0; i < result.length; i++) {
                var name = result[i].name;
                appendData(name)
            }
        }
    })

    $("#submit").click(function () {
        $.ajax({
            url: '/reception/updateArticle',
            type: 'GET',
            data: {
                id: $("#articleId").val(),
                title: $("#title").val(),
                category: $("#option").val(),
                introduction: $("#introduction").val(),
                mainText: editor1.txt.html()
            },
            success: function (result) {
                if (result == 'success') {
                    window.location.href = "/reception/index";
                }
            }
        })
    })

    $("#deleteArticle").click(function () {
        $.ajax({
            url: '/reception/deleteArticle',
            type: 'GET',
            data: {
                id: $("#articleId").val(),
            },
            success: function (result) {
                if (result == 'success') {
                    window.location.href = "/reception/index";
                }
            }
        })
    })

    function appendData(name) {
        var text = '<option value="' + name + '">' + name + '</option>'
        $("select").append(text);
    }
</script>
</html>