<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>Bootstrap 实例 - 标题</title>
    <link rel="stylesheet" type="text/css" href="/Global.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        h3 {
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .detail {
            list-style: none;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .model_detail {
            list-style: none;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 10px;
        }

        .inputfile {
            opacity: 0;
        }
    </style>
</head>

<body style="background-color: rgb(245, 246, 247);" onload="init()">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">演示</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/reception/index"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/reception/message"><span class="glyphicon glyphicon-comment"></span> 讨论</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <form action="/reception/logout" method="post">
                    <input type="submit" class="btn btn-link" style="padding-top: 14px" value="注销"/>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form action="/reception/personal" method="post">
                    <input type="submit" class="btn btn-link" style="padding-top: 14px" value="个人信息"/>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form action="/reception/favorite" method="post">
                    <input type="submit" class="btn btn-link" style="padding-top: 14px" value="个人收藏"/>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form action="/reception/awesome" method="post">
                    <input type="submit" class="btn btn-link" style="padding-top: 14px" value="个人点赞"/>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form action="/reception/myself" method="post">
                    <input type="submit" class="btn btn-link" style="padding-top: 14px" value="个人文章"/>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="background-color: rgb(255, 255, 255)">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header" style="margin-left:10px">
                <a href="/reception/article_add" style="float:right">添加新文章</a>
                <h3>个人资料</h3>
            </div>
            <div>
                <div class="col-md-3">
                    <img src="/微信图片_20190318143802.jpg" id="avatar" height="250" width="250" class="img-circle"
                         alt="这只是个头像"/>
                    <div id="now_avatar"></div>
                    <br>
                    <br>
                    <a href="#" style="text-align: center;display: block;" data-toggle="modal"
                       data-target="#updatepassword">修改密码</a>
                    <input type="file" name="file" id="file" class="inputfile"
                           accept="image/png, image/jpeg, image/jpg"/>
                    <label for="file" class='btn btn-success' style="display: block;margin: 0 auto">更换头像</label>
                    <br>
                    <br>
                </div>
                <div class="col-md-9">

                    <div style="margin-top: 10px;margin-bottom: 20px;">
                        ID：<span id="userId"></span>
                        <a style="float:right" data-toggle="modal" data-target="#myModal">修改资料</a>
                    </div>

                    <ul style="padding-left:0;">
                        <li class="detail">昵称：<span id="now_nickname"></span></li>
                        <li class="detail">实名：<span id="now_actual_name"></span></li>
                        <li class="detail">性别：<span id="now_sex"></span></li>
                        <li class="detail">生日：<span id="now_birthday"></span></li>
                        <li class="detail">简介：<span id="now_introduction"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--修改个人资料模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    修改个人资料
                </h4>
            </div>
            <div class="modal-body">
                <ul style="padding-left:0;">
                    <li class="model_detail">
                        <div class="form-group">
                            <label for="nickname" class="control-label" style="font-weight: normal">昵称：</label>
                            <input type="text" class="form-control" id="nickname">
                        </div>
                    </li>
                    <li class="model_detail">
                        <div class="form-group">
                            <label for="actual_name" class="control-label" style="font-weight: normal">实名：</label>
                            <input type="text" class="form-control" id="actual_name">
                        </div>
                    </li>
                    <li class="model_detail">性别：
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="1">男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="0">女
                        </label>
                    </li>
                    <li class="model_detail">生日：
                        <select id="year" class="selectpicker" onChange="swap_day()"></select>年
                        <select id="month" class="selectpicker" onChange="swap_day()"></select>月
                        <select id="day" class="selectpicker"></select>日
                    </li>
                    <li class="model_detail">
                        <div class="form-group">
                            <label for="introduction" style="font-weight: normal">简介：</label>
                            <textarea class="form-control" rows="5" id="introduction"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="submit">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--修改密码模态框-->
<div class="modal fade" id="updatepassword" tabindex="-1" role="dialog" aria-labelledby="updatepassword"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel1">
                    修改密码
                </h4>
            </div>
            <div class="modal-body">
                <label for="password" class="control-label" style="font-weight: normal">密码：</label>
                <input type="password" class="form-control" id="password">
                <label for="confirm" class="control-label" style="font-weight: normal">确认密码：</label>
                <input type="password" class="form-control" id="confirm">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="submitUpdate">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
<script type="text/javascript" src="/Global.js"></script>
<script>
    $("#submit").click(function () {
        $.ajax({
            url: '/reception/changeInformation',
            type: 'GET',
            data: {
                id: $("#userId").text(),
                nickname: $("#nickname").val(),
                actualName: $("#actual_name").val(),
                sex: $("input:radio:checked").val(),
                year: $("#year").val(),
                month: $("#month").val(),
                day: $("#day").val(),
                introduction: $("#introduction").val()
            },
            success: function (result) {
                if (result == 'success') {
                    window.location.href = "/reception/personal";
                }
            }
        })
    })

    $("#submitUpdate").click(function () {
        if ($("#confirm").val() == $("#password").val()) {
            $.ajax({
                url: '/reception/updatepassword',
                type: 'GET',
                data: {
                    password: $("#password").val(),
                    userId: $("#userId").text()
                },
                success: function (result) {
                    if (result == 'success') {
                        window.location.href = "/reception/personal";
                    }
                }
            })
        } else {
            alert("两次输入的密码不一致！");
        }

    })

    $.ajax({
        url: '/reception/data',
        type: 'GET',
        success: function (result) {
            $("#avatar").html(result.picture);
            $("#userId").text(result.id);
            $("#now_nickname").text(result.nickname);
            $("#now_actual_name").text(result.actualName);
            if (result.sex == 1)
                $("#now_sex").text('男');
            else
                $("#now_sex").text('女');
            $("#now_birthday").text(result.birthday);
            $("#now_introduction").text(result.introduction);
            if (result.picture != '' && result.picture != null){
                $("#now_avatar").html(result.picture);
                $("#avatar").hide();
            }

        }
    })

    $("#file").change(function () {
        var reader = new FileReader();
        var file = $("#file")[0].files[0];
        var imgUrlBase64;
        if (file) {
            imgUrlBase64 = reader.readAsDataURL(file);
            reader.onload = function (e) {
                $.ajax({
                    url: '/reception/changePicture',
                    type: 'POST',
                    data: {
                        base64: '<img src="' + reader.result + '" id="avatar" height="250" width="250" class="img-circle"/>',
                    },
                    success: function (result) {
                        if (result == 'success') {
                            window.location.href = "/reception/personal";
                        }
                    }
                })
            }
        }
    })
</script>

</html>