<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" href="/Global.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            padding-top: 80px;
            padding-bottom: 40px;
        }
        input {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
    </div>
</nav>
<div class="container" style="margin-top:100px">
    <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-6 column">
            <h2 class="form-signin-heading" style="margin-bottom: 20px;">Please sign up</h2>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                           required autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                           required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="add" class="btn btn-default">Sign up</button>
                    <a th:href="@{/login}" class="button btn btn-default">return</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $("#add").click(function () {
        $.ajax({
            url: '/user/user_add',
            type: 'GET',
            data: {
                username: $("#username").val(),
                password: $("#password").val(),
            },
            success: function (result) {
                if (result == 'success') {
                    window.location.href = "/login";
                } else if (result == 'userExist') {
                    alert("用户已经存在");
                    $("#username").val("");
                    $("#password").val("");
                }
            }
        })
    })
</script>
</html>
