<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>更新角色</title>
    <link rel="stylesheet" type="text/css" href="/Global.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">演示</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/index"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a href="/user/user_list"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
                <li class="active"><a href="role/role_list"><span class="glyphicon glyphicon-tag"></span> 角色管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form action="/logout" method="post">
                    <input type="submit" class="btn btn-link" style="padding-top: 14px" value="注销"/>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <input type="hidden" id="roleId" name="id" th:value="${id}">
        <div class="form-group">
            <label for="authority">角色名</label>
            <input type="text" id="authority" class="form-control" name="authority"/>
        </div>
        <div class="form-group">
            <label for="description">描述</label>
            <input type="text" id="description" class="form-control" name="description"/>
        </div>
        <input type="button" id="update" value="更新" class="btn btn-primary"/>
    </div>
</div>
</body>
<script>
    $("#update").click(function () {
        $.ajax({
            url: '/role/role_update',
            type: 'GET',
            data: {
                id: $("#roleId").val(),
                authority: $("#authority").val(),
                description: $("#description").val(),
            },
            success: function (result) {
                if (result == 'success') {
                    window.location.href = "/role/role_list";
                }
            }
        })
    })

    $.ajax({
        url: '/role/findonerole',
        type: 'GET',
        data: {
            id: $("#roleId").val(),
        },
        success: function (result) {
            $("#authority").val(result.authority);
            $("#description").val(result.description)
        }
    })
</script>
</html>
